{% extends 'template.html' %}

{%block content %}

<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Document</title>
     <style>
          input{
               width: 100%;
          }
          #pas{
               font-size: 18px;
               font-weight: bold;
               color: #dd0000;
          }
          .title{
               font-size: 24px;
          }
     </style>
</head>
<body class="bg-light">
     <div class="container mt-5">
          <div class="row">
               <div class="col-6">
               <form action="{% url 'password' %}" method="post">
                    {% csrf_token %}
                              <div class="card bg-warning">
                              <div class="card-body">
                                   <div class="row">
                                        <p class="text-center title">Brute Force Password Security</p>
                                        <div class="col-12">
                                             <label for="" id="pas">Input Your Password</label><br>
                                             <input type="password" class="form-control" name="password" required placeholder="password">
                                        </div>
                                        
                                   </div>
                                  <br>
                                   <div class="row text-center">
                                        <div class="col justify-content-center">
                                             <button class="btn btn-success" type="submit" style="width: 300px;">
                                                 Test
                                             </button>
                                        </div>
                                   </div>
                              </div>
                         </div>
                         </form>
               </div>
               <div class="col-6">
                    <h1 class="text-center">Password Evaluation Result</h1>
                    <div class="card">
                         <div class="card-body">
                              <label>Your Password:</label>
                              <input type="text" disabled class="form-control" value="{{ password }}">
                              <label>Strength:</label>
                              <input type="text" disabled class="form-control" value="{{ strength }}">
                              <label>Estimated Time to Crack Your Password</label>
                              <input type="text" disabled class="form-control" value="{{ time_to_crack }}">
                              
                              </div>
                    </div>
                    

               </div>
               <div class="row">
                    <div id="progress-info">
                         <!-- Bagian untuk menampilkan progres retas -->
                         {% if progress %}
                             <h2>Password Cracking Progress</h2>
                             <p>{{ progress }}</p>
                         {% endif %}
                     </div>
                     <div id="attempts-info">
                         <h2>All Attempts</h2>
                         <ul>
                             {% for attempt in attempts %}
                              <div class="row">
                                   <div class="col-3">
                                           <li>{{ attempt }}</li>
                                   </div>
                              </div>
                              
                             {% endfor %}
                         </ul>
                     </div>

                     
               </div>
          </div>
          
          
     </div>




     <!-- Bagian JavaScript untuk melakukan permintaan AJAX ke server -->
<script>
     // Fungsi untuk memperbarui progres retas dari server
     function updateCrackProgress() {
         fetch("{% url 'password' %}")  // Ganti 'brute_force_crack' dengan URL endpoint yang sesuai
             .then(response => response.json())
             .then(data => {
                 if (data.progress !== 'Password cracking failed') {
                     // Jika terdapat informasi progres, perbarui bagian "progress-info"
                     document.getElementById('progress-info').innerHTML = `
                         <h2>Password Cracking Progress</h2>
                         <p>${data.progress}</p>
                     `;
                     // Lakukan pembaruan setiap 1 detik
                     setTimeout(updateCrackProgress, 1000);
                 }
             })
             .catch(error => {
                 console.error('Error:', error);
             });
     }
 
     // Panggil fungsi untuk memulai pembaruan progres retas
     updateCrackProgress();
 </script>
 
</body>
</html>

{%endblock content %}